<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Registro</title>
    <link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./styles.css">
</head>
<body>
    <header class="header">
        <img class="header__img" src="../../assets/logo-platzi-video.png" alt="logo platzi video">
    </header>
    <section class="login">
        <section class="login__container">
            <h2>Regístrate</h2>
            <form class="login__container--form">
                <input type="text" class="input" placeholder="Nombre">
                <input type="text" class="input" placeholder="Correo">
                <input type="password" class="input" placeholder="Contraseña">
                <button class="button">Registrarme</button>
            </form>
            <a class="login__container--iniciar-sesion" href="/">Iniciar sesión</a>
        </section>
    </section>
    <footer class="footer">
        <a href="/">Términos de uso</a>
        <a href="/">Declaración de privacidad</a>
        <a href="/">Centro de ayuda</a>
    </footer>
</body>
</html>
