.register {
    background: linear-gradient(#21C08B, #AB88FF);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 30px;
    min-height: calc(100vh - 200px);
}
.register__container {
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid white;
    border-radius: 40px;
    color: white;
    padding: 60px 68px 40px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
.register__container--form {
    display: flex;
    flex-direction: column;
}
.register__container--label {
    font-size: 14px;

}
.register__container--iniciar-sesion {
    font-size: 14px;
    color: white;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
}
.register__container--iniciar-sesion:hover {
    text-decoration: underline;
}
